<div class="improve-this-page" data-module="improve-this-page">
  <div class="js-prompt">
    <h3 class="improve-this-page__is-useful-question">Is this page useful?</h3>
    <%= link_to contact_govuk_path, { class: 'button js-page-is-useful', role: 'button' } do %>
      Yes <span class="visually-hidden"> this page is useful</span>
    <% end %>
    <%= link_to contact_govuk_path, { class: 'button js-offer-feedback', role: 'button' } do %>
      No <span class="visually-hidden"> this page is not useful</span>
    <% end %>
    <%= link_to contact_govuk_path, { class: 'button js-offer-feedback improve-this-page__anything-wrong', role: 'button' } do %>
      Is there anything wrong with this page? <span class="visually-hidden"> this page is not useful</span>
    <% end %>
  </div>
  <div class="js-feedback-form js-hidden">
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="js-errors"></div>
        <form>
          <input type="hidden" name="path" value="<%= request.original_url -%>">
          <input type="hidden" name="user_agent" value="<%= request.user_agent -%>">
          <div class="improve-this-page__section">
            <label for="improve-this-page_description">How should we improve this page? <span class="visually-hidden">required</span></label>
            <textarea name="description" rows="5" required id="improve-this-page_description"></textarea>
          </div>
          <p>Include your name and email address if you'd like us to get back to you.</p>
          <div class="improve-this-page__section">
            <label  for="improve-this-page_name">Name <span class="improve-this-page__hint">(optional)</span></label>
            <input type="text" name="name" id="improve-this-page_name">
          </div>
          <div class="improve-this-page__section">
            <label  for="improve-this-page_email">Email <span class="improve-this-page__hint">(optional)</span></label>
            <input type="text" name="email" id="improve-this-page_email">
          </div>
          <div>
            <input class="improve-this-page__submit" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
