<%
  content_for :title, "Service Manual"
  content_for :phase_message do
    render 'shared/custom_phase_message_homepage', phase: @content_item.phase
  end
  content_for :body_classes, 'full-width'
%>

<header class="app-c-hero">
  <div class="app-c-hero__content govuk-width-container">
    <div class="govuk-main-wrapper govuk-!-padding-top-7">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-8 app-c-heading--inverse">Service Manual</h1>
          <p class="govuk-body-lead app-c-hero-lead app-c-body--inverse govuk-!-padding-bottom-1">
            Helping teams to create and run great public services that meet the <%= link_to 'Service Standard', '/service-manual/service-standard', class: 'govuk-link' %>.
          </p>
          <form action="/search" method="get" role="search">
            <input type="hidden" name="filter_manual" value="/service-manual">
            <%= render "govuk_publishing_components/components/search", {
              id: "search",
              label_text: "Search the service manual",
              name: "q",
              on_govuk_blue: true,
              type: "search"
            } %>
          </form>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body-s app-c-body--inverse">
            <%= link_to 'Contact the Service Manual team', '/contact/govuk', class: 'govuk-link' %>
            with any comments or questions.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <% @content_item.topics.each_slice(3) do |row_of_topics| %>
      <div class="govuk-grid-row">
        <% row_of_topics.each do |topic| %>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><%= link_to topic["title"], topic["base_path"], class: 'govuk-link' %></h2>
            <p class="govuk-body-s"><%= topic["description"] %></p>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="panel govuk-!-padding-top-3 govuk-!-margin-top-5">
          <h2 class="govuk-heading-m">The Service Standard</h2>
          <p class="govuk-body app-c-body">The <%= link_to 'Service Standard', '/service-manual/service-standard', class: 'govuk-link' %> provides the principles of building a good service. This manual explains what teams can do to build great services that will meet the standard.</p>
        </div>
      </div>

      <div class="govuk-grid-column-one-half">
        <div class="panel govuk-!-padding-top-3 govuk-!-margin-top-5">
          <h2 class="govuk-heading-m">Communities of practice</h2>
          <p class="govuk-body app-c-body">You can view the <%= link_to 'communities of practice', '/service-manual/communities', class: 'govuk-link' %> to find more learning resources, see who has written the guidance in the manual and connect with digital people like you from across government.</p>
        </div>
      </div>
    </div>
  </div>
</div>
