<%= content_for :page_class, "service-manual" %>
<%= content_for :title, "#{@content_item.title} - Digital Service Manual" %>

<% content_for :phase_message do %>
  <%= render 'shared/service_manual_custom_phase_message', phase: @content_item.phase %>
<% end %>

<%= render 'govuk_component/breadcrumbs', breadcrumbs: @content_item.breadcrumbs %>

<!-- Page title and contact -->
<div class="grid-row">

  <div class="column-two-thirds">
    <div class="page-header">
      <p class="page-header__context"><%= @content_item.category_title %></p>
      <h1 class="page-header__title">
        <%= @content_item.title %>
      </h1>
    <% if @content_item.show_description? %>
      <p class="page-header__summary">
        <%= @content_item.description %>
      </p>
    <% end %>
    </div>
  </div>

  <div class="column-third">

    <div class="community-contact">
      <p>
        <%= link_to "Give feedback about this page", "/contact/govuk", class: "feedback" %>
      </p>
    </div>
  </div>
</div>

<!-- Metadata-->
<div class="grid-row">
  <div class="column-two-thirds">

    <div class="metadata">
      <dl>
        <% if @content_item.content_owners.any? %>
          <dt>Published by:</dt>
          <% @content_item.content_owners.each do |content_owner| %>
            <dd>
              <%= link_to content_owner.title, content_owner.href %>
            </dd>
          <% end %>
        <% end %>
        <dt>Last updated:</dt>
        <dd>
          <%= time_ago_in_words(@content_item.public_updated_at) %> ago
        </dd>
      </dl>
    </div>

  </div>
</div>

<div class="grid-row">
  <div class="column-third">

    <!--  Page contents -->
    <div class="page-contents">
      <h2 class="page-contents__title">Page contents:</h2>
      <ul class="page-contents__list">
        <% @content_item.header_links.each do |header_link| %>
          <li><a href="<%=header_link[:href]%>"><%=header_link[:title]%></a></li>
        <% end %>
      </ul>
    </div>

  </div>
  <div class="column-two-thirds">

    <div class="govspeak-wrapper">
      <%= render 'govuk_component/govspeak', content: @content_item.body.html_safe %>
    </div>

    <div class="change-history">
      <div class="change-history__metadata">
        <dl>
        <% if @content_item.content_owners.any? %>
          <dt>Published by:</dt>
          <% @content_item.content_owners.each do |content_owner| %>
            <dd>
              <%= link_to content_owner.title, content_owner.href %>
            </dd>
          <% end %>
        <% end %>
          <dt>Last update:</dt>
          <dd>
            <%= @content_item.public_updated_at.strftime("%e %B %Y") %>

          <% if @content_item.latest_change.present? %>
            <p class="change-history__summary">
              <%= @content_item.latest_change[:note] %>
            </p>

            <p class="change-history__reason">
              <%= @content_item.latest_change[:reason_for_change] %>
            </p>
          <% end %>
          </dd>
        </dl>
      </div>
    </div>

  </div>
</div>
