<%
  content_for :title, "Service Toolkit"
  content_for :header_title, "Service Toolkit"
  content_for :body_classes, "app-full-width"
%>
<header class="app-c-hero">
  <div class="app-c-hero__content govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="app-c-hero__title govuk-heading-xl govuk-!-margin-bottom-6 app-c-hero__heading--inverse">Design and build government services</h1>

          <p class="app-c-hero__descriptio govuk-body-l govuk-!-margin-bottom-3 app-c-hero__body--inverse">
            All you need to design, build and run services that meet government standards.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="govuk-width-container">
  <% @content_item.collections.each do |collection| %>
    <div class="app-c-collection govuk-!-margin-top-7">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 id="<%= collection["title"].parameterize %>" class="app-c-collection__title govuk-heading-l govuk-!-margin-bottom-1"><%= collection["title"] %></h2>
          <p class="app-c-collection__description govuk-body-l"><%= collection["description"] %></p>
        </div>
      </div>
      <% collection["links"].each_slice(2) do |row_of_links| %>
        <div class="govuk-grid-row">
          <% row_of_links.each do | link | %>
            <div class="govuk-grid-column-one-half">
              <h3 class="app-c-collection__link govuk-heading-m govuk-!-margin-bottom-2"><%= link_to link["title"], link["url"], class: "govuk-link" %></h3>
              <p class="app-c-collection__link-description govuk-body"><%= link["description"] %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
