<%
  content_for :title, "Service Toolkit"
  content_for :header_title, "Service Toolkit"
  content_for :body_classes, "full-width"
%>
<header class="hero">
  <div class="hero__content">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="hero__title">Design and build government services</h1>

        <p class="hero__description">
          All you need to design, build and run services that meet government standards.
        </p>
      </div>
    </div>
  </div>
</header>

<div class="full-page-width-wrapper">
  <% @content_item.collections.each do |collection| %>
  <div class="collection">
    <h2 id="<%= collection["title"].parameterize %>" class="collection__title"><%= collection["title"] %></h2>
    <p class="collection__description"><%= collection["description"] %></p>

    <% collection["links"].each_slice(2) do |row_of_links| %>
      <div class="grid-row">
        <% row_of_links.each do | link | %>
          <div class="column-half">
            <h3 class="collection__link"><%= link_to link["title"], link["url"] %></h3>
            <p class="collection__link-description"><%= link["description"] %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
