<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> - GOV.UK</title>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application" %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag "application-ie6" %><script>var ieVersion = 6;</script><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag "application-ie7" %><script>var ieVersion = 7;</script><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag "application-ie8" %><script>var ieVersion = 8;</script><![endif]-->
  <%= stylesheet_link_tag "print", media: "print" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "start-modules" if Rails.env.test? %>
  <%= csrf_meta_tags %>
  <%= render "govuk_publishing_components/components/meta_tags", content_item: @content_item.content_item %>
  <%= yield(:extra_head) %>
  <% if content_for(:meta_description).present? %>
    <meta name="description" content="<%= content_for(:meta_description) %>" />
  <% end %>
</head>
<body<% if content_for?(:body_classes) %> class="<%= content_for(:body_classes) %>"<% end %>>
  <div class="slimmer-inside-header">
      <span class="header-title"><%= content_for(:header_title) || "Service Manual" %></span>
  </div>

  <div id="wrapper" class="app-!-full-width-override <%= wrapper_class %>">
    <main role="main" id="content" lang="<%= I18n.locale %>">
      <div class="govuk-width-container">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <%= render_phase_label @content_item, content_for(:phase_message) %>
          </div>
        </div>
      </div>
      <%= yield %>
    </main>

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= render "govuk_publishing_components/components/feedback" %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
